* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.page {
  padding: 0 5vw;
  min-height: 100vh;

  header {
    height: 10vh;
    display: flex;
    justify-content: space-between;

    .header-left {
      height: 100%;
      width: 40%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      img {
        height: 100%;
        width: 20%;
      }
    }

    .header-right {
      height: 100%;
      width: 20%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      img {
        height: 80%;
        width: 20%;
      }
    }
  }

  .body {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .body-left {
    width: 65%;
    height: 600px;
    display: flex;
    justify-content: center;

    .main {
      width: 50%;
      height: 100%;
      padding: 1vh 2%;

      img {
        width: 100%;
        height: 50%;
        object-fit: cover;
      }

      .main-text {
        height: 50%;
        padding-top: 3vh;

        .main-text-author {
          height: 10%;
          display: flex;
          align-items: center;
          margin-bottom: 3vh;

          img {
            height: 100%;
            width: 10%;
            margin-right: 5%;
          }
        }

        h2 {
          padding-bottom: 3vh;
        }
      }
    }

    .sidebar {
      width: 50%;
      height: 100%;

      .article {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 2vh;

        .article-text {
          .article-text-author {
            height: 10%;
            display: flex;
            align-items: center;
            margin-bottom: 3vh;

            img {
              height: 100%;
              width: 10%;
              margin-right: 5%;
            }
          }
        }

        img {
          width: 25%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .body-right {
    width: 35%;
    height: 600px;
    padding: 2vh 2%;
    border-left: 1px solid grey;

    .creators {
      width: 100%;

      .creator {
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img {
          height: 80%;
          width: 15%;
          border-radius: 100%;
        }

        .creator-text {
          width: 60%;
        }

        button {
          width: 10%;
        }
      }
    }
  }
}
